/* styles.css */

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
  font-size: 50px;
}

img {
  width: 200px;
  height: 200px;
}

span {
  margin-left: 10px;
}

h2 {
  font-family: "Times New Roman", Times, serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  width: 75%;
  overflow-wrap: break-word;
}

ul,
ol {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  text-align: center;
}
